extends layout

block content
	h1= title
	a.clickable(href="/")= "Back to Book List"
	div.newbook
		div#book
			form( method="post")
				div 
					div
						input.in.select(type="text", name="title", placeholder="Title")
					div= "Type: "
						select(name="type")
							each type in info.info._types
								option= type
					div.clickable.addtype= "Add/Edit Type"
					div
						input.in.select(type="text", name="name", placeholder="Author")
					div
						input.in.select(type="text", name="genre", placeholder="Genre")
					div
						div.label Date Published:
						input.in.select(type="text", name="pubdate", placeholder="YYYY")
					div
						div.label Date Read:
						input.in(type="text", name="readdate", placeholder="MMYYYY")
					
					div#editBookSubmit
						input.clickable(type="submit", value="Save")

	script(type='text/javascript' src="/javascripts/add_types.js")
