extends layout

block content
	a(href="/")!= "Back to Book List"
	div.book-single
		form( method="post")
			input(name="_id", type="hidden", value=book._id.toHexString())
			div#form
				div.title
					input.select.edit(type="text", name="title", value=book.title)
				div.type= book.type
				div.created-at
					span= "logged on" 
					span= book.created_at.getMonth()+1+" "+book.created_at.getDate()+" "+book.created_at.getFullYear()
				div.infocolumn
					div.name
						span= "by "
						input.select.edit(type="text", name="name", value=book.name)
					div.genre
						input.select.edit(type="text", name="genre", value=book.genre)
				div.infocolumn 
					div.pubdate
						span= "published "
						input.select.edit(type="text", name="pubdate", value=book.pubdate)
					div.readdate
						span= "read "
						input.select.edit(type="text", name="readdate", value=book.readdate)
				div.quotes.hidecontents= "Quotes"
					span= "- Collapse"
					each value, index in book.quotes
						div(class="quote") 
							textarea.select.edit(type="text", name="quotes")=value
				div.notes.hidecontents= "Notes"
					span= "- Collapse"
					each value, index in book.notes
						div(class="note") 
							textarea.select.edit(type="text", name="notes")=value
				if book.links
					div.links
						each value in book.links
							div.link
								a(href="#{value[1]}" target="blank")= value[0]
				if book.other > 0
					each value, index in book.other
						if index != '_id'
							div(class=index)
								input(type="text", name=index, id="edit"+index, value=value)
			each value, index in books
				if value._atts
					div#atts-container
						each i in value._atts
							div.atts= i
						span.cancel= "x"
			div.plus.clickable(onclick='addAtts();')= "Add Attribute"
			script(type='text/javascript' src="/javascripts/edit_book.js")
				
			div#editBookSubmit
				input.clickable(class="save", type="submit", value="Save")