extends layout

block content
	div.book-single
		div.backhome.clickable
			a(href="/")!= "Back to Book List"
		.bk
			form( method="post")
				input(name="_id", type="hidden", value=book._id.toHexString())
				div#form
					div.title
						input.select.edit(type="text", name="title", value=book.title)
					div.type= book.type
					div.created-at
						span= "logged on" 
						span= book.created_at.getMonth()+1+" "+book.created_at.getDate()+" "+book.created_at.getFullYear()
					div.infocolumn
						div.name
							span= "by "
							input.select.edit(type="text", name="name", value=book.name)
						div.genre
							input.select.edit(type="text", name="genre", value=book.genre)
					div.infocolumn 
						div.pubdate
							span= "published "
							input.select.edit(type="text", name="pubdate", value=book.pubdate)
						div.readdate
							span= "read "
							input.select.edit(type="text", name="readdate", value=book.readdate)
					div.quotes.hidecontents= "Quotes"
						span= "+"
						each value, index in book.quotes
							div.quote.hiddencontents
								textarea.select.edit(type="text", name="quotes")=value
					div.notes.hidecontents= "Notes"
						span= "+"
						each value, index in book.notes
							div.note.hiddencontents 
								textarea.select.edit(type="text", name="notes")=value
					if book.links
						div.links
							each value in book.links
								div.link
									a(href="#{value[1]}" target="blank")= value[0]
					div#atts-container
						each value in info.info._atts
							div.atts= value
						span.cancel= "x"
				div#addAtts.plus.clickable()= "Add Attribute"
				
				script(type='text/javascript' src="/javascripts/edit_book.js")
					
				div#editBookSubmit
					input.clickable(class="save", type="submit", value="Save")
					if book.tags
			if book.tags
				div.tags
					each value in book.tags
						div.tag
							form( method="get", action="/:tag")
								input(name="_tag", value=value, type="submit")

		div.refs
			div= "References"
			div.ref
				if refs
					each ref, index in refs
						div.hidecontents
							span="+"
							form(method="get", action="/book/:id/edit")
								input(name="_id", type="hidden", value=ref._id.toHexString())
								input.title(type="submit", value=ref.title)
							if ref.referencedBy
								div.hiddencontents
									form(method="post", action="/book/:id/edit")
										input(name="_editRef", type="hidden", value=ref._id.toHexString())
										input(name="_title", type="hidden", value=ref.title)
										input(name="_id", type="hidden" value=book._id.toHexString())
										textarea.select(name="_refNote", type="text")=ref.referencedBy[book._id.toHexString()]
										input#refedit.clickable(type="hidden", value="Save")= "Save"
			div#addRef.plus.clickable()= "Add Reference"
			div.addref
				div.search
					form(method="get", action="/addref/search")
						input(name="_id", type="hidden", value=book._id.toHexString())
						input(name="_bookTitle", type="hidden", value=book.title)
						span="Search: "
						select(name="_field")
							each field in info.info._fields
								option= field
						input.select.underlined(name="_ref", type="text", placeholder="query")
						input.clickable(type="submit")
				div.browse
					form(method="get", action="/addref/browse")
						input(name="_id", type="hidden", value=book._id.toHexString())
						input(name="_bookTitle", type="hidden", value=book.title)
						span="Browse by: "
						select(name="_field")
							each item, name in info.info
								if name != "_atts"
									option= name
						each item, name in info.info 
							select.choices(style="display:none", disabled, name=name)
								each item in info.info[name]
									option= item
						input.clickable(type="submit")
		div.refs.by
			div= "Referenced by "
			div.ref
				if book.referencedBy
					each refby, index in book.referencedBy
						div=refby
						div=index
						form(method="get", action="/book/:id/edit")
							each value, key in refby
								if key == "title"
									input.title(type="submit", value=refby.title)
								else 
									div="no"
								//- else 
								//- 	input(name="_id", type="hidden", value=key)	