<!-- edit -->
<div class="backhome clickable">
	<a href="/">Home</a>
</div>

{{#if referer}}
	<div class="clickable">
		<a href="{{referer}}">Back</a>
	</div>
{{/if}}

<div class="book-single">
	<div class="title">
		<input type="text" class="select edit" type="text" name="title" placeholder="Title" value="{{book.title}}">
	</div>
	<div class="created-at">
		<span>logged on {{date book.created_at}}</span>
	</div>
	<div class="type">{{book.type}}</div>
	<div class="delete clickable">
		<a href="/delete/{{book._id}}" onclick="return confirm('Are you sure you want to delete {{book.title}}?')">Delete</a>
	</div>
	<div id="status"></div>

	<div class="info">
		<div class="name">
			by <input class="edit" type="text" name="name" placeholder="author" value="{{book.name}}">
		</div>
		<div class="genre">
			genre <input class="edit" type="text" name="genre" placeholder="genre" value="{{book.genre}}">
		</div>
		<div class="pubdate">
			published <input class="edit" type="text" name="pubdate" placeholder="date published" value="{{book.pubdate}}">
		</div>
		<div class="readdate">
			read <input class="edit" type="text" name="readdate" placeholder="date read" value="{{book.readdate}}">
		</div>
	</div>

	{{#if book.tags}}
		<div class="tags">
			Tags
			{{#each book.tags}}
				<div class="tag clickable">
					<a href="/tag/{{this}}">{{this}}</a>
				</div>
			{{/each}}
		</div>
	{{/if}}

	{{#if book.links}}
		<div class="links">
			Links
			{{#each book.links}}
				<div class="tag clickable">
					<a href="{{this.[1]}}" target="blank">{{this.[0]}}</a>
				</div>
			{{/each}}
		</div>
	{{/if}}

	{{#if book.notes}}
		<div class="notes">
			<h3>Notes</h3>
			{{#each book.notes}}
				<div class="note">
					<textarea name="notes" data-num={{@index}} class="edit">{{this}}</textarea>
				</div>
			{{/each}}
		</div>
	{{/if}}

	{{#if book.quotes}}
		<div class="notes">
			<h3>Quotes</h3>
			{{#each book.quotes}}
				<div class="quote">
					<textarea name="quotes" data-num={{@index}} class="edit">{{this}}</textarea>
				</div>
			{{/each}}
		</div>
	{{/if}}

	{{#if book.images}}
		<div class="images">
			{{#each book.images}}
			<div class="image">
				<img src="{{this}}" alt="">
			</div>
			{{/each}}
		</div>
	{{/if}}

	{{#if book.youtubes}}
		<div class="youtubes">
			{{#each book.youtubes}}
			<div class="utube">
				<iframe src="https://www.youtube.com/embed/{{this}}" frameborder="0" allowfullscreen=""></iframe>
			</div>
			{{/each}}
		</div>
	{{/if}}

	{{#if book.vimeos}}
		<div class="vimeos">
			{{#each book.vimeos}}
			<div class="utube">
				<iframe src="https://player.vimeo.com/video/{{this}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			{{/each}}
		</div>
	{{/if}}

	

	<div id="atts-container">
		Add
		<div class="atts">note</div>
		<div class="atts">quote</div>
		<div class="atts">link</div>
		<div class="atts">tag</div>
		<div class="atts">image</div>
		<div class="atts">youtube</div>
		<div class="atts">vimeo</div>
	</div>
	<div id="new-attribute">
		<div class="newlink">
			<input type="text" id="newlinktitle" placeholder="Title">
			<input type="text" id="newlinkurl" placeholder="URL">
		</div>
		<div class="newother">
			<div class="label"></div>
			<textarea type="text" id="newother" placeholder="Input"></textarea>
		</div>
		<span class="clickable" id="save-att">Save</span>
		<span class="clickable" id="cancel-att">Cancel</span>
	</div>

	<div id="references">
		{{#if refs}}
			<div class="refs">
				<h3>References</h3>
				{{#each refs}}
					{{#if (refIsBook src_id ../book._id) }}
						<div class="book">
							<a href="/book/{{ref_id}}/edit" class="reftitle">{{ref_title}}</a>
							<p>{{note}}</p>
						</div>
					{{/if}}
				{{/each}}
			</div>

			<div class="refs by">
				<h3>Referenced by</h3>
				{{#each refs}}
					{{#if (refIsBook ref_id ../book._id) }}
						<div class="book">
							<a href="/book/{{src_id}}/edit" class="reftitle">{{src_title}}</a>
							<p>{{note}}</p>
						</div>
					{{/if}}
				{{/each}}
			</div>
		{{/if}}

		<div id="addRef" class="plus clickable">Add Reference</div>

		<div class="addref">

			<div class="search">
				<form action="/addref/search" method="GET">
					<input type="hidden" name="id" value="{{idString book._id}}">
					<input type="hidden" name="bookTitle" value="{{book.title}}">
					<select name="field">
						{{#each fields}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
					</select>
					<input type="text" class="select underlined query" name="ref" placeholder="Query">
					<input type="submit" class="clickable" value="Search">
				</form>
			</div>

			<div class="browse">
				<form action="/addref/browse" method="GET">
					<input type="hidden" name="id" value="{{idString book._id}}">
					<input type="hidden" name="bookTitle" value="{{book.title}}">
					<select name="field">
					<option>types</option>
					<option>tags</option>
				</select>
				<select name="types" class="choices">
					{{#each types}}
						<option value="{{this}}">{{this}}</option>
					{{/each}}
				</select>
				<select name="tags" class="choices" disabled style="display:none;">
					{{#each tags}}
						<option value="{{this}}">{{this}}</option>
					{{/each}}
				</select>
					<input type="submit" class="clickable" value="Browse">
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	var Updater = {};
	window.onload = function() {
		Updater.status = document.getElementById('status');
		Updater.id = "{{idString book._id}}";
		Updater.data = {{{json book}}};
		// -1 index is push, 0 index is standalone, >0 is updated array
		Updater.updateParameter = function(param, value, index) {
			console.log(param, value, index);
			$.ajax({
				url: '/param/' + Updater.id,
				type: 'post',
				dataType: 'json',
				data: {
					id: Updater.id,
					param: param,
					edit: value,
					arrayIndex: index
				},					
				success: function(data) {
					// fuck doing a bunch of testing and adding elements and shit
					if (index == -1) location.reload();
					Updater.status.innerHTML = "Saved.";
					Updater.status.className = "fadeOut";
				} 
			});
		};
		setup();
	}
</script>
<script src="/javascripts/edit_book.js"></script>
<script src="/javascripts/options.js"></script>