extends layout

block content
	div.backhome.clickable
		a(href="/")= "Home"
	if referer
		div.clickable
			a(href=referer)= "Back"
	div.book-single
		div.title
			input.select.edit(type="text", name="title", placeholder="Title", value=book.title)
		div.created-at
			span= " logged on " 
			span= book.created_at.getMonth()+1+" "+book.created_at.getDate()+" "+book.created_at.getFullYear()
		div.type= book.type
		div.delete.clickable
			a(href="/delete/"+book._id.toHexString() onclick="return confirm('Are you sure you want to delete" + book.title + "?')" )="Delete"
		div#status
		div.info
			div.name
				span= "by "
				input.select.edit(type="text", name="name", placeholder="author" value=book.name)
			div.genre
				span= "genre "
				input.select.edit(type="text", name="genre", placeholder="genre", value=book.genre)
			div.pubdate
				span= "published "
				input.select.edit(type="text", name="pubdate", placeholder="date published", value=book.pubdate)
			div.readdate
				span= "read "
				input.select.edit(type="text", name="readdate", placeholder="date read", value=book.readdate)
		if book.tags
			div.tags="Tags: "
				each value in book.tags
					div.tag.clickable
						a(href="/tag/"+value)=value
		if book.links
			div.links="Links: "
				each value in book.links
					div.link.clickable
						a(href="#{value[1]}" target="blank")= value[0]
		
		if book.notes
			div.notes-column
				div.notes
					h3= "Notes"
					if book.notes
						each value, index in book.notes
							div.note.hidecontents
								span= "+"
								div.hiddencontents
									textarea.edit(type="text", name="notes", data-num=index)=value

		if book.quotes
			div.quotes-column
				div.quotes
					h3= "Quotes"
					if book.quotes
						each value, index in book.quotes
							div.quote.hidecontents
								span= "+"
								div.hiddencontents
									textarea.edit(type="text", name="quotes", data-num=index)=value

		div#atts-container= " Add: "
			each value in info.info._atts
				div.atts= value
		div#new-attribute
			div.newlink
				input(id="newlinktitle" placeholder="Title")
				input(id="newlinkurl" placeholder="URL")
			div.newother
				div.label
				textarea(type="text" id="newother" placeholder="Input")
			span.clickable#save-att="Save"
			span.clickable#cancel-att="Cancel"


		div#references
			if refs
				h3= "References"
				div.ref
					each ref in refs
						if ref.src_id == book._id.toHexString()
							div.book
								a.reftitle(href="/book/" + ref.ref_id + "/edit")=ref.ref_title
								p= ref.note
				div.refs.by
					h3= "Referenced by "
					each ref in refs
						if ref.ref_id == book._id.toHexString()
							div.book
								a.reftitle(href="/book/" + ref.src_id + "/edit")=ref.src_title
								p= ref.note


			div#addRef.plus.clickable()= "Add Reference"
			div.addref
				div.search
					form(method="get", action="/addref/search")
						input(name="_id", type="hidden", value=book._id.toHexString())
						if book.refs
							each ref in book.refs
								input(name="_refs", type="hidden", value=ref.id)
						input(name="_bookTitle", type="hidden", value=book.title)
						select(name="_field")
							each field in info.info._fields
								option= field
						input.select.underlined.query(name="_ref", type="text", placeholder="query")
						input.clickable(type="submit" value="Search")
				div.browse
					form(method="get", action="/addref/browse")
						input(name="_id", type="hidden", value=book._id.toHexString())
						if book.refs
							each ref in book.refs
								input(name="_refs", type="hidden", value=ref.id)
						input(name="_bookTitle", type="hidden", value=book.title)
						select(name="_field")
							each item, name in info.info
								if name != "_atts"
									option= name
						each item, name in info.info 
							select.choices(style="display:none", disabled, name=name)
								each item in info.info[name]
									option= item
						input.clickable(type="submit" value="Browse")
		
		script.
			var Updater = {};
			window.onload = function() {
				Updater.status = document.getElementById('status');
				Updater.data = !{JSON.stringify(book)};
				Updater.id = "!{book._id.toHexString()}";
	
				// -1 index is push, 0 index is standalone, >0 is updated array
				Updater.updateParameter = function(param, value, index) {
					$.ajax({
						url: '/param/' + Updater.id,
						type: 'post',
						dataType:'json',
						data: {
							id: Updater.id,
							param: param,
							edit: value,
							arrayIndex: index
						},					
						success: function(data) {
							// fuck doing a bunch of testing and adding elements and shit
							if (index == -1) location.reload();
							Updater.status.innerHTML = "Saved.";
							Updater.status.className = "fadeOut";
						} 
					});
				};
				setup();
			}

		script(type='text/javascript' src="/javascripts/edit_book.js")
		script(type='text/javascript' src="/javascripts/options.js")