extends layout

block content
	h1= title
	div#books
		each book in books
			if (!book.info)
				if (book._id.toHexString() !== bookId)
					div.refbook
						form( method="post", action="/book/:id/edit")
							input(name="_id", type="hidden", value=bookId)
							input(name="_refId", type="hidden", value=book._id.toHexString())
							div.title= book.title
							div.author= "by " + book.name
							textarea.note(name="_refNote", placeholder="Note")
							input.clickable(id="edit", value="Save", type="submit")