extends layout

block content
	div#search
		div.backhome.clickable
			a(href="/")= "Home"
		if referer
			div.clickable
				a(href=referer)= "Back"
		h3= title
		div.books
			each book in books
				div.book
					div.title
						a(href="/book/"+book._id.toHexString()+"/edit")=book.title
					div.name="by "+ book.name
					div.genre= book.genre
