extends layout

block content
	h1= "Add refernece to " + bookTitle
	h1= "Searching by " + title
	div#books
		if books.length > 0
			each book in books
				if (!book.info)
					if (book._id.toHexString() !== bookId)
						div.book
							form( method="post", action="/book/:id/edit")
								input(name="_id", type="hidden", value=bookId)
								input(name="_refId", type="hidden", value=book._id.toHexString())
								input(name="_title", type="hidden", value=bookTitle)
								input(name="_refTitle", type="hidden", value=book.title)
								div.title= book.title
								div.author= "by " + book.name
								textarea.note(name="_refNote", placeholder="Note")
								input.clickable(id="edit", value="Save", type="submit")
		else
			div= "Nothing matches this query."
			form( method="get", action="/book/:id/edit")
				input(name="_id", type="hidden", value=bookId)
				input.clickable(type="submit", value="Back")